Examen Ruben.json
{
  "name": "TutorBot - Bot ESTUDIANTES",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -1344,
        464
      ],
      "id": "140617db-c9f9-4c3e-ab21-a3ba61c92da6",
      "webhookId": "tutorbot-estudiantes-webhook",
      "credentials": {
        "telegramApi": {
          "id": "c6vg25ILWEkOgNBb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "telegram_user",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            },
            {
              "name": "texto",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "name": "nombre_usuario",
              "value": "={{ $json.message.from.first_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Extraer Datos Mensaje",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        464
      ],
      "id": "98ff2bd7-92cc-4bec-bfd3-bd6be35dfad1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 961918798,
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU/edit#gid=961918798"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{ $('Extraer Datos Mensaje').item.json.telegram_user }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Buscar Sesion",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -896,
        464
      ],
      "id": "b1206acd-b6b5-469b-a8c6-9ec4c729e2c4",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UfAOPpVtuqXKa7FA",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.pantalla_actual }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "name": "Existe Sesion?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -688,
        464
      ],
      "id": "c33106ac-1ba0-45fd-a52f-b90f1e8a7515"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "pantalla_actual",
              "value": "menu_principal",
              "type": "string"
            },
            {
              "name": "datos_parciales",
              "value": "{}",
              "type": "string"
            },
            {
              "name": "telegram_user",
              "value": "={{ $('Extraer Datos Mensaje').item.json.telegram_user }}",
              "type": "string"
            },
            {
              "name": "texto",
              "value": "={{ $('Extraer Datos Mensaje').item.json.texto }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Sesion Nueva",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        592
      ],
      "id": "317b1bd9-fd21-4199-a4d1-cc949c6379fd"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pantalla_actual }}",
                    "rightValue": "menu_principal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "19451244-f58e-4258-9efa-c0d632b084d9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pantalla_actual }}",
                    "rightValue": "esperando_opcion_menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dc45e768-1a11-4142-b934-cc15174ef355"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pantalla_actual }}",
                    "rightValue": "esperando_materia",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "013a49d7-2b04-402a-9450-5a8fc14cf489"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pantalla_actual }}",
                    "rightValue": "esperando_fecha",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e353d138-b6b1-4647-aac4-4da1fdf13379"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pantalla_actual }}",
                    "rightValue": "esperando_confirmacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c8135901-65e2-4095-a38f-c901b185a291"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pantalla_actual }}",
                    "rightValue": "esperando_cancelacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "485900a0-ac88-4b6d-8375-298395c0165f"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "name": "Router Pantalla",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -240,
        464
      ],
      "id": "3037d47e-93dd-46ed-9294-0efd93fa40e4"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_user }}",
        "text": "=Hola {{ $('Extraer Datos Mensaje').item.json.nombre_usuario || 'estudiante' }}! Que necesitas?\n1. Solicitar tutoria\n2. Consultar mis tutorias\n3. Cancelar una tutoria\n\nResponde con el numero.",
        "additionalFields": {}
      },
      "name": "Mostrar Menu Principal",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "a3327cae-af2e-40ca-b8bf-182fadba4575",
      "webhookId": "175c1b03-757b-453b-a50b-d28a50f7cd0c",
      "credentials": {
        "telegramApi": {
          "id": "c6vg25ILWEkOgNBb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 961918798,
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU/edit#gid=961918798"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Extraer Datos Mensaje').item.json.telegram_user }}",
            "pantalla_actual": "esperando_opcion_menu",
            "paso_actual": "0",
            "datos_parciales": "{}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Guardar Sesion: esperando_opcion_menu",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        224,
        0
      ],
      "id": "fa21fa06-04ff-426c-8157-584f02738d21",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UfAOPpVtuqXKa7FA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const texto = $('Extraer Datos Mensaje').item.json.texto.trim();\nconst telegram_user = $json.telegram_user;\nlet opcion = null;\nif (texto === '1') opcion = 'solicitar';\nelse if (texto === '2') opcion = 'consultar';\nelse if (texto === '3') opcion = 'cancelar';\nreturn [{ json: { opcion, telegram_user } }];"
      },
      "name": "Interpretar Opcion Menu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        208
      ],
      "id": "d1b120e1-08a0-4c03-9873-33c6b12fd526"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.opcion }}",
                    "rightValue": "solicitar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1bdf32ce-fe85-45d2-9b24-40f7eb8ae32c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.opcion }}",
                    "rightValue": "consultar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cbe129c4-fdc9-4a16-99a6-d5bb723545ff"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.opcion }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ae7a8439-1cfd-4b9b-9956-82aea0c4b8b0"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "name": "Que Opcion?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        224,
        208
      ],
      "id": "a6c2ff86-16ce-4fc9-b289-711f3b050892"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_user }}",
        "text": "Nojoda, responde solo 1, 2 o 3.",
        "additionalFields": {}
      },
      "name": "Opcion Invalida - Reintentar",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        288
      ],
      "id": "8f4638bb-116c-44a5-898f-8cca22d6bf7d",
      "webhookId": "134e19d2-ec6c-42ce-b7dc-b15ca6d55ca3",
      "credentials": {
        "telegramApi": {
          "id": "c6vg25ILWEkOgNBb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_user }}",
        "text": "Elige la materia (responde con el numero):\n1. Matematicas\n2. Lengua castellana\n3. Filosofia\n4. Fisica\n5. Quimica",
        "additionalFields": {}
      },
      "name": "Mostrar Menu Materias",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        -32
      ],
      "id": "ed9141c3-237b-4a70-88bf-fb5f6609fa1d",
      "webhookId": "dec5e9f7-8a2d-47c6-8eb4-feca82623ade",
      "credentials": {
        "telegramApi": {
          "id": "c6vg25ILWEkOgNBb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 961918798,
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU/edit#gid=961918798"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Extraer Datos Mensaje').item.json.telegram_user }}",
            "pantalla_actual": "esperando_materia",
            "paso_actual": "1",
            "datos_parciales": "{}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Guardar Sesion: esperando_materia",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        704,
        -48
      ],
      "id": "e6acdeb3-3a58-40d4-be8b-fea7b6902e10",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UfAOPpVtuqXKa7FA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 27329530,
          "mode": "list",
          "cachedResultName": "TUTORIAS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU/edit#gid=27329530"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_estudiante"
            }
          ]
        },
        "options": {}
      },
      "name": "Leer Mis Tutorias",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        144
      ],
      "id": "6f4a4413-f491-4803-8ec4-67d673aa38cf",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UfAOPpVtuqXKa7FA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nconst telegram_user = $('Interpretar Opcion Menu').first().json.telegram_user;\nlet texto;\nif (items.length === 0) {\n  texto = 'No tienes tutorias registradas todavia.';\n} else {\n  texto = 'Tus tutorias:\\n' + items.map(t => '- ' + t.materia + ' | ' + t.fecha + ' ' + t.hora + ' | Estado: ' + t.estado).join('\\n');\n}\nreturn [{ json: { texto, telegram_user } }];"
      },
      "name": "Formatear Mis Tutorias",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        128
      ],
      "id": "8a43fa57-8e6e-4cdb-91a1-3a1e017acd53"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_user }}",
        "text": "={{ $json.texto }}",
        "additionalFields": {}
      },
      "name": "Enviar Mis Tutorias",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        208
      ],
      "id": "3d997e83-8453-46ef-95e5-af978f292c2a",
      "webhookId": "6039320e-b02a-46ca-94b3-e62eed6df191",
      "credentials": {
        "telegramApi": {
          "id": "c6vg25ILWEkOgNBb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 961918798,
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU/edit#gid=961918798"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Formatear Mis Tutorias').item.json.telegram_user }}",
            "pantalla_actual": "menu_principal",
            "paso_actual": "0",
            "datos_parciales": "{}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Reset Sesion (post consulta)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1104,
        208
      ],
      "id": "0171b3bb-2666-42d9-8316-e534ae73ff27",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UfAOPpVtuqXKa7FA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 27329530,
          "mode": "list",
          "cachedResultName": "TUTORIAS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU/edit#gid=27329530"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_estudiante"
            }
          ]
        },
        "options": {}
      },
      "name": "Leer Tutorias Activas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        448,
        448
      ],
      "id": "442a8dea-2abe-460b-b2ee-08ecf20ee0be",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UfAOPpVtuqXKa7FA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json).filter(t => t.estado === 'Asignada' || t.estado === 'Confirmada');\nconst telegram_user = $('Interpretar Opcion Menu').first().json.telegram_user;\nlet texto, hay;\nif (items.length === 0) {\n  texto = 'No tienes tutorias activas para cancelar.'; hay = false;\n} else {\n  texto = 'Cual quieres cancelar? Responde con el numero:\\n' + items.map((t,i) => (i+1) + '. ' + t.materia + ' | ' + t.fecha + ' ' + t.hora).join('\\n');\n  hay = true;\n}\nreturn [{ json: { texto, hay, lista: JSON.stringify(items), telegram_user } }];"
      },
      "name": "Formatear Lista Cancelable",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        368
      ],
      "id": "8ce54d2f-8e98-4714-95b1-fcb64e5e5198"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_user }}",
        "text": "={{ $json.texto }}",
        "additionalFields": {}
      },
      "name": "Enviar Lista Cancelable",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        368
      ],
      "id": "42eb0fc1-98d2-4f33-8cb6-d5716012f8fd",
      "webhookId": "f9a51cbb-bc0e-4f59-a799-e310d17a2442",
      "credentials": {
        "telegramApi": {
          "id": "c6vg25ILWEkOgNBb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $('Formatear Lista Cancelable').item.json.hay }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "9473f2a0-81d7-46c2-b152-71e2b105858e"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Hay Para Cancelar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1104,
        368
      ],
      "id": "6fdbb5a2-ba2e-4aad-9397-7129cefbad5d"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 961918798,
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU/edit#gid=961918798"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Formatear Lista Cancelable').item.json.telegram_user }} ",
            "datos_parciales": "= {{ JSON.stringify({lista: $('Formatear Lista Cancelable').item.json.lista}) }}",
            "pantalla_actual": "esperando_cancelacion",
            "paso_actual": "1"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Guardar Sesion: esperando_cancelacion",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1328,
        304
      ],
      "id": "db242183-b15b-4162-baac-47c7919ebd34",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UfAOPpVtuqXKa7FA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 961918798,
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU/edit#gid=961918798"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Formatear Lista Cancelable').item.json.telegram_user }}",
            "pantalla_actual": "menu_principal",
            "paso_actual": "0",
            "datos_parciales": "{}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Reset Sesion (sin cancelables)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1328,
        432
      ],
      "id": "985b71e0-ee7c-4084-acb1-f1a04454960a",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UfAOPpVtuqXKa7FA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const MATERIAS = {'1':'Matematicas','2':'Lengua castellana','3':'Filosofia','4':'Fisica','5':'Quimica'};\nconst texto = $('Extraer Datos Mensaje').item.json.texto.trim();\nconst materia = MATERIAS[texto];\nreturn [{ json: { valido: !!materia, materia: materia || null, telegram_user: $('Extraer Datos Mensaje').item.json.telegram_user } }];"
      },
      "name": "Validar Materia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        688
      ],
      "id": "f11fc705-8f9d-4f96-8a17-4d0a7fb52ce8"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.valido }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "name": "Materia Valida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        224,
        688
      ],
      "id": "63ee57a0-fc23-46d8-98d9-604dd5c1ad53"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_user }}",
        "text": "=Perfecto, {{ $json.materia }}. Dime la fecha (YYYY-MM-DD):",
        "additionalFields": {}
      },
      "name": "Pedir Fecha",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        608
      ],
      "id": "d663560d-a878-4eb7-b590-1040210bc6b2",
      "webhookId": "6ce14b5b-0176-4200-b6d1-76dc1bff0795",
      "credentials": {
        "telegramApi": {
          "id": "c6vg25ILWEkOgNBb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 961918798,
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU/edit#gid=961918798"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Extraer Datos Mensaje').item.json.telegram_user }}",
            "pantalla_actual": "esperando_fecha",
            "paso_actual": "2",
            "datos_parciales": "={{ JSON.stringify({materia: $('Validar Materia').item.json.materia}) }}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Guardar Sesion: esperando_fecha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        688,
        576
      ],
      "id": "5d77c739-fa61-4b71-9f6c-d9bcd6753cb2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UfAOPpVtuqXKa7FA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_user }}",
        "text": "Ese numero no existe. Responde 1 al 5.",
        "additionalFields": {}
      },
      "name": "Materia Invalida - Reintentar",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        784
      ],
      "id": "dd71bdfa-eebf-4c37-8702-ea3cc9cfad07",
      "webhookId": "7e2bd920-cf16-49e3-9768-be059f8c9c63",
      "credentials": {
        "telegramApi": {
          "id": "c6vg25ILWEkOgNBb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const texto = $('Extraer Datos Mensaje').item.json.texto.trim();\nconst regex = /^\\d{4}-\\d{2}-\\d{2}$/;\nlet valido = regex.test(texto);\nlet fechaObj = null;\nif (valido) {\n  fechaObj = new Date(texto + 'T00:00:00');\n  const hoy = new Date(); hoy.setHours(0,0,0,0);\n  if (isNaN(fechaObj.getTime()) || fechaObj < hoy) valido = false;\n}\nconst dias = ['Domingo','Lunes','Martes','Miercoles','Jueves','Viernes','Sabado'];\nconst datosParciales = JSON.parse($json.datos_parciales || '{}');\nreturn [{ json: { valido, fecha: texto, dia_semana: valido ? dias[fechaObj.getDay()] : null, materia: datosParciales.materia, telegram_user: $json.telegram_user }}];"
      },
      "name": "Validar Fecha",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        912
      ],
      "id": "7a13bc34-324d-4dac-a64d-03cb401d2a0a"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.valido }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "name": "Fecha Valida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        224,
        912
      ],
      "id": "3359e09c-1365-404b-ac30-5bde699176c6"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_user }}",
        "text": "Fecha mal escrita o ya paso. Usa YYYY-MM-DD.",
        "additionalFields": {}
      },
      "name": "Fecha Invalida - Reintentar",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        1072
      ],
      "id": "bf7b6788-acab-412c-bb31-efd21eb844e9",
      "webhookId": "b92afba4-4ad1-43fa-935e-94a64bbdc6b8",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 2095301207,
          "mode": "list",
          "cachedResultName": "DISPONIBILIDAD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU/edit#gid=2095301207"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "dia_semana",
              "lookupValue": "={{ $('Validar Fecha').item.json.dia_semana }}"
            },
            {
              "lookupColumn": "estado",
              "lookupValue": "Libre"
            }
          ]
        },
        "options": {}
      },
      "name": "Leer Disponibilidad",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        448,
        944
      ],
      "id": "ea79dd68-105c-49d2-8f69-4726a927eb05",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UfAOPpVtuqXKa7FA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1634970800,
          "mode": "list",
          "cachedResultName": "TUTORES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU/edit#gid=1634970800"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "estado",
              "lookupValue": "Activo"
            }
          ]
        },
        "options": {}
      },
      "name": "Leer Tutores",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        672,
        912
      ],
      "id": "32f0e630-76f9-4c4b-8758-044503b1b22a",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UfAOPpVtuqXKa7FA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const disponibilidad = $('Leer Disponibilidad').all().map(i => i.json);\nconst tutores = $input.all().map(i => i.json);\nconst ctx = $('Validar Fecha').first().json;\nconst materia = ctx.materia;\nconst matches = [];\nfor (const d of disponibilidad) {\n  const tutor = tutores.find(t => t.id_tutor === d.id_tutor && (t.especialidad_materias || '').split(',').map(s => s.trim()).includes(materia));\n  if (tutor) matches.push({ id_dispo: d.id_dispo, id_tutor: tutor.id_tutor, nombre_tutor: tutor.nombre, hora_inicio: d.hora_inicio, hora_fin: d.hora_fin });\n}\nlet texto;\nif (matches.length === 0) texto = 'No hay tutores libres de ' + materia + ' ese dia. Intenta otra fecha.';\nelse texto = 'Opciones para ' + materia + ':\\n' + matches.map((m,i) => (i+1)+'. '+m.nombre_tutor+' ('+m.hora_inicio+'-'+m.hora_fin+')').join('\\n') + '\\n\\nResponde con el numero.';\nreturn [{ json: { hay_opciones: matches.length > 0, texto_respuesta: texto, opciones: JSON.stringify(matches), materia, fecha: ctx.fecha, telegram_user: ctx.telegram_user }}];"
      },
      "name": "Cruzar Materia+Tutor+Horario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        912
      ],
      "id": "fd88fbdb-a42b-4f3d-bdee-dfadd99d1e70"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_user }}",
        "text": "={{ $json.texto_respuesta }}",
        "additionalFields": {}
      },
      "name": "Enviar Opciones",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1104,
        912
      ],
      "id": "783587e2-8983-46d2-815e-d604306bc902",
      "webhookId": "2e9d9e02-74ab-4ba7-b4da-c94c5f830832",
      "credentials": {
        "telegramApi": {
          "id": "c6vg25ILWEkOgNBb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 961918798,
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU/edit#gid=961918798"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Extraer Datos Mensaje').item.json.telegram_user }}",
            "pantalla_actual": "={{ $('Cruzar Materia+Tutor+Horario').item.json.hay_opciones ? 'esperando_confirmacion' : 'esperando_fecha' }}",
            "datos_parciales": "={{ JSON.stringify({materia: $('Cruzar Materia+Tutor+Horario').item.json.materia, fecha: $('Cruzar Materia+Tutor+Horario').item.json.fecha, opciones: $('Cruzar Materia+Tutor+Horario').item.json.opciones}) }}",
            "paso_actual": "3"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Guardar Sesion: esperando_confirmacion",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1328,
        912
      ],
      "id": "1b1d912c-8ef7-46e4-a1c8-e93cb533914f",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UfAOPpVtuqXKa7FA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const texto = $('Extraer Datos Mensaje').item.json.texto.trim();\nconst datosParciales = JSON.parse($json.datos_parciales || '{}');\nconst opciones = JSON.parse(datosParciales.opciones || '[]');\nconst idx = parseInt(texto, 10) - 1;\nconst elegida = opciones[idx];\nreturn [{ json: { valido: !!elegida, elegida: elegida || null, materia: datosParciales.materia, fecha: datosParciales.fecha, telegram_user: $json.telegram_user }}];"
      },
      "name": "Procesar Confirmacion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        1120
      ],
      "id": "501d155f-0462-4c6e-9f23-372dc9eedd91"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.valido }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "name": "Seleccion Valida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        224,
        1120
      ],
      "id": "34eacdd9-7e27-4d3b-b4d3-d578664a78ab"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_user }}",
        "text": "Ese numero no esta en la lista.",
        "additionalFields": {}
      },
      "name": "Seleccion Invalida - Reintentar",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        1408
      ],
      "id": "aa1ad966-7c71-463b-bbc9-36997594b265",
      "webhookId": "ca85bd90-4187-433b-b9a2-e3e25e6b5d9b",
      "credentials": {
        "telegramApi": {
          "id": "c6vg25ILWEkOgNBb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 2095301207,
          "mode": "list",
          "cachedResultName": "DISPONIBILIDAD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU/edit#gid=2095301207"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_dispo"
            }
          ]
        },
        "options": {}
      },
      "name": "Re-verificar Disponibilidad (lock)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        448,
        1248
      ],
      "id": "908fd17c-bebd-4561-9e2a-0725225a3aa2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UfAOPpVtuqXKa7FA",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.estado }}",
              "rightValue": "Libre",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "name": "Sigue Libre?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        672,
        1120
      ],
      "id": "f27a56e1-5138-4ad9-a3cb-e742523aa776"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Procesar Confirmacion').first().json;\nreturn [{ json: { ...ctx, id_tutoria: 'TUT-' + Date.now(), id_dispo: ctx.elegida.id_dispo } }];"
      },
      "name": "Generar ID Tutoria",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1072
      ],
      "id": "c80f5178-1795-49c7-a881-edcc28937f79"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "DISPONIBILIDAD",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_dispo": "={{ $json.id_dispo }}",
            "estado": "Ocupado",
            "id_tutoria_asociada": "={{ $json.id_tutoria }}",
            "row_number": 0
          },
          "matchingColumns": [
            "id_dispo"
          ],
          "schema": [
            {
              "id": "id_dispo",
              "displayName": "id_dispo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_tutor",
              "displayName": "id_tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dia_semana",
              "displayName": "dia_semana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hora_inicio",
              "displayName": "hora_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hora_fin",
              "displayName": "hora_fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_tutoria_asociada",
              "displayName": "id_tutoria_asociada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Marcar Ocupado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1104,
        1008
      ],
      "id": "755c1b2e-069e-400c-b682-c7ca49aa5fff",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UfAOPpVtuqXKa7FA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "TUTORIAS",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_tutoria": "={{ $('Generar ID Tutoria').item.json.id_tutoria }}",
            "id_estudiante": "={{ $('Generar ID Tutoria').item.json.telegram_user }}",
            "id_tutor": "={{ $('Generar ID Tutoria').item.json.elegida.id_tutor }}",
            "materia": "={{ $('Generar ID Tutoria').item.json.materia }}",
            "fecha": "={{ $('Generar ID Tutoria').item.json.fecha }}",
            "hora": "={{ $('Generar ID Tutoria').item.json.elegida.hora_inicio }}",
            "estado": "Asignada",
            "timestamp_creacion": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_tutoria",
              "displayName": "id_tutoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_estudiante",
              "displayName": "id_estudiante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_tutor",
              "displayName": "id_tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "materia",
              "displayName": "materia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp_creacion",
              "displayName": "timestamp_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Crear Tutoria",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1328,
        1008
      ],
      "id": "4c902c36-8c42-44ef-b483-312c3b7342c9",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UfAOPpVtuqXKa7FA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Generar ID Tutoria').item.json.telegram_user }}",
        "text": "=Listo! Tutoria de {{ $('Generar ID Tutoria').item.json.materia }} con {{ $('Generar ID Tutoria').item.json.elegida.nombre_tutor }} el {{ $('Generar ID Tutoria').item.json.fecha }} a las {{ $('Generar ID Tutoria').item.json.elegida.hora_inicio }}. Queda pendiente que el tutor la confirme.",
        "additionalFields": {}
      },
      "name": "Notificar Estudiante",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1552,
        1008
      ],
      "id": "eff0ae8f-fdd0-404e-879d-08b6ac956540",
      "webhookId": "503b16cf-38c4-4aae-a2fe-5955e7a257a8",
      "credentials": {
        "telegramApi": {
          "id": "c6vg25ILWEkOgNBb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 961918798,
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU/edit#gid=961918798"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Generar ID Tutoria').item.json.telegram_user }}",
            "pantalla_actual": "menu_principal",
            "paso_actual": "0",
            "datos_parciales": "{}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Resetear Sesion",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1760,
        1008
      ],
      "id": "dec35862-045a-4253-9d45-b63773f84d0e",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UfAOPpVtuqXKa7FA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Procesar Confirmacion').item.json.telegram_user }}",
        "text": "Alguien se adelanto y cogio ese horario. Manda la fecha de nuevo para buscar otra opcion.",
        "additionalFields": {}
      },
      "name": "Slot Ya Ocupado - Avisar",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        1248
      ],
      "id": "1ee509e0-71ee-45f0-a3db-f84e6b1f0d73",
      "webhookId": "ae2db187-31c3-43e1-9fc3-1f99928ce500",
      "credentials": {
        "telegramApi": {
          "id": "c6vg25ILWEkOgNBb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 961918798,
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU/edit#gid=961918798"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Procesar Confirmacion').item.json.telegram_user }}",
            "pantalla_actual": "esperando_fecha",
            "paso_actual": "2",
            "datos_parciales": "= {{ JSON.stringify({materia: $('Procesar Confirmacion').item.json.materia}) }}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Volver a esperando_fecha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1104,
        1248
      ],
      "id": "e3678bfe-fd23-48f8-8949-250e8d1bea42",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UfAOPpVtuqXKa7FA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const texto = $('Extraer Datos Mensaje').item.json.texto.trim();\nconst datosParciales = JSON.parse($json.datos_parciales || '{}');\nconst lista = JSON.parse(datosParciales.lista || '[]');\nconst idx = parseInt(texto, 10) - 1;\nconst elegida = lista[idx];\nreturn [{ json: { valido: !!elegida, elegida: elegida || null, telegram_user: $json.telegram_user }}];"
      },
      "name": "Procesar Cancelacion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        1488
      ],
      "id": "8c550b19-52e6-4234-86dc-7c4667a39442"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.valido }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "name": "Cancelacion Valida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        128,
        1520
      ],
      "id": "bce8d9f6-0b37-4656-be23-024e9102a293"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_user }}",
        "text": "Ese numero no esta en la lista.",
        "additionalFields": {}
      },
      "name": "Cancelacion Invalida - Reintentar",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        1776
      ],
      "id": "18299167-b82c-4fa0-8472-43aeb306c574",
      "webhookId": "24544c0b-d1ee-4b0a-bbf4-dec500f1e378",
      "credentials": {
        "telegramApi": {
          "id": "c6vg25ILWEkOgNBb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "TUTORIAS",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_tutoria": "={{ $json.elegida.id_tutoria }}",
            "estado": "Cancelada",
            "row_number": 0
          },
          "matchingColumns": [
            "id_tutoria"
          ],
          "schema": [
            {
              "id": "id_tutoria",
              "displayName": "id_tutoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_estudiante",
              "displayName": "id_estudiante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_tutor",
              "displayName": "id_tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "materia",
              "displayName": "materia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp_creacion",
              "displayName": "timestamp_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Marcar Tutoria Cancelada",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        448,
        1584
      ],
      "id": "3fda3024-a80c-46f1-9f24-7579024dbb68",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UfAOPpVtuqXKa7FA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "DISPONIBILIDAD",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_dispo": "={{ $('Procesar Cancelacion').item.json.elegida.id_dispo }}",
            "estado": "Libre",
            "row_number": 0
          },
          "matchingColumns": [
            "id_dispo"
          ],
          "schema": [
            {
              "id": "id_dispo",
              "displayName": "id_dispo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_tutor",
              "displayName": "id_tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dia_semana",
              "displayName": "dia_semana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hora_inicio",
              "displayName": "hora_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hora_fin",
              "displayName": "hora_fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_tutoria_asociada",
              "displayName": "id_tutoria_asociada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Liberar Disponibilidad",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        704,
        1520
      ],
      "id": "c7f46a3e-f160-4887-ae28-6805f986b662",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UfAOPpVtuqXKa7FA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Procesar Cancelacion').item.json.telegram_user }}",
        "text": "=Listo, cancelada tu tutoria de {{ $('Procesar Cancelacion').item.json.elegida.materia }} del {{ $('Procesar Cancelacion').item.json.elegida.fecha }}.",
        "additionalFields": {}
      },
      "name": "Confirmar Cancelacion",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        1552
      ],
      "id": "e650f635-751f-407c-94a0-20617cf8e4af",
      "webhookId": "eeec119c-9b3e-4ae1-b3f1-b45d41c2626a",
      "credentials": {
        "telegramApi": {
          "id": "c6vg25ILWEkOgNBb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 961918798,
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WlGfDmzLSOdozHx5LOYbSBt7Ga6KhLPPYecvMbhDYfU/edit#gid=961918798"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Procesar Cancelacion').item.json.telegram_user }}",
            "pantalla_actual": "menu_principal",
            "paso_actual": "0",
            "datos_parciales": "{}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Reset Sesion (post cancelacion)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1168,
        1552
      ],
      "id": "958c75c3-680b-424f-aa50-b1a53d92391e",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UfAOPpVtuqXKa7FA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {},
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1728,
        1456
      ],
      "id": "7b1b68b7-2d73-4261-93ad-cdb293d04208",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const texto = $('Extraer Datos Mensaje').item.json.texto.trim();\nconst disponibilidad = $json.disponibilidad;\nlet opcion = null;\nif (texto === '1') opcion = 'descuenta';\nelse if (texto === '2') opcion = 'actualiza';\nreturn [{ json: { opcion, disponibilidad } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        1456
      ],
      "id": "d52084cb-15dc-4409-9b2f-5988ba52c91f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1152,
        1456
      ],
      "id": "b358618a-d48e-4356-9c79-e864a551c263",
      "name": "Create spreadsheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UfAOPpVtuqXKa7FA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "text": "=",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -864,
        1456
      ],
      "id": "0a7f2419-7998-40da-a332-5ad5e1ee8dd0",
      "name": "Send a text message",
      "webhookId": "59304fab-8389-4318-8844-9b6e975760ad",
      "credentials": {
        "telegramApi": {
          "id": "c6vg25ILWEkOgNBb",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extraer Datos Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Mensaje": {
      "main": [
        [
          {
            "node": "Buscar Sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Sesion": {
      "main": [
        [
          {
            "node": "Existe Sesion?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe Sesion?": {
      "main": [
        [
          {
            "node": "Router Pantalla",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Sesion Nueva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Sesion Nueva": {
      "main": [
        [
          {
            "node": "Router Pantalla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Pantalla": {
      "main": [
        [
          {
            "node": "Mostrar Menu Principal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Interpretar Opcion Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validar Materia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validar Fecha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar Confirmacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar Cancelacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mostrar Menu Principal": {
      "main": [
        [
          {
            "node": "Guardar Sesion: esperando_opcion_menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interpretar Opcion Menu": {
      "main": [
        [
          {
            "node": "Que Opcion?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Que Opcion?": {
      "main": [
        [
          {
            "node": "Mostrar Menu Materias",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leer Mis Tutorias",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leer Tutorias Activas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Opcion Invalida - Reintentar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mostrar Menu Materias": {
      "main": [
        [
          {
            "node": "Guardar Sesion: esperando_materia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Mis Tutorias": {
      "main": [
        [
          {
            "node": "Formatear Mis Tutorias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Mis Tutorias": {
      "main": [
        [
          {
            "node": "Enviar Mis Tutorias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mis Tutorias": {
      "main": [
        [
          {
            "node": "Reset Sesion (post consulta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Tutorias Activas": {
      "main": [
        [
          {
            "node": "Formatear Lista Cancelable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Lista Cancelable": {
      "main": [
        [
          {
            "node": "Enviar Lista Cancelable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Lista Cancelable": {
      "main": [
        [
          {
            "node": "Hay Para Cancelar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay Para Cancelar?": {
      "main": [
        [
          {
            "node": "Guardar Sesion: esperando_cancelacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reset Sesion (sin cancelables)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Materia": {
      "main": [
        [
          {
            "node": "Materia Valida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Materia Valida?": {
      "main": [
        [
          {
            "node": "Pedir Fecha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Materia Invalida - Reintentar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir Fecha": {
      "main": [
        [
          {
            "node": "Guardar Sesion: esperando_fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Fecha": {
      "main": [
        [
          {
            "node": "Fecha Valida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fecha Valida?": {
      "main": [
        [
          {
            "node": "Leer Disponibilidad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fecha Invalida - Reintentar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Disponibilidad": {
      "main": [
        [
          {
            "node": "Leer Tutores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Tutores": {
      "main": [
        [
          {
            "node": "Cruzar Materia+Tutor+Horario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cruzar Materia+Tutor+Horario": {
      "main": [
        [
          {
            "node": "Enviar Opciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Opciones": {
      "main": [
        [
          {
            "node": "Guardar Sesion: esperando_confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Confirmacion": {
      "main": [
        [
          {
            "node": "Seleccion Valida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seleccion Valida?": {
      "main": [
        [
          {
            "node": "Re-verificar Disponibilidad (lock)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Seleccion Invalida - Reintentar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-verificar Disponibilidad (lock)": {
      "main": [
        [
          {
            "node": "Sigue Libre?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sigue Libre?": {
      "main": [
        [
          {
            "node": "Generar ID Tutoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slot Ya Ocupado - Avisar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar ID Tutoria": {
      "main": [
        [
          {
            "node": "Marcar Ocupado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Ocupado": {
      "main": [
        [
          {
            "node": "Crear Tutoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Tutoria": {
      "main": [
        [
          {
            "node": "Notificar Estudiante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Estudiante": {
      "main": [
        [
          {
            "node": "Resetear Sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slot Ya Ocupado - Avisar": {
      "main": [
        [
          {
            "node": "Volver a esperando_fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Cancelacion": {
      "main": [
        [
          {
            "node": "Cancelacion Valida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelacion Valida?": {
      "main": [
        [
          {
            "node": "Marcar Tutoria Cancelada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cancelacion Invalida - Reintentar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Tutoria Cancelada": {
      "main": [
        [
          {
            "node": "Liberar Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Liberar Disponibilidad": {
      "main": [
        [
          {
            "node": "Confirmar Cancelacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Cancelacion": {
      "main": [
        [
          {
            "node": "Reset Sesion (post cancelacion)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create spreadsheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "88a937d4-dcf8-4972-aaf0-53df021dc56b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "53161955895120587328504758a77b9b44ba56542c997827564166b0d25f6600"
  },
  "nodeGroups": [],
  "id": "OzYneg48q8r0w24X",
  "tags": []
}